<!-- Electrocardiography  -->
<div class="container-fluid bg1 py-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold service display-1 pt-5">Echo and Electrography At Home</h1>
        </div>
    </div>
</div>
<div class="back">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <br><br><br>
                <img src="./../../assets/images/electrocardiography1.jfif" alt="" class="fluid w-100 image">  
        </div>
        <div class="col-md-4 py-5">

            <button type="button" class="collapsible color-cls float-left service text-center">About Echo and Electrocardigraphy 
            </button>
            <div class="content">
                <p class="about-p l-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>            </div>
        </div>
        <div class="col-md-4 padding-cls">
            
<a href = "/ " class="collapsible color-cls float-left service text-center">Appoinment Electrocardigraphy 
</a>


        </div>
    </div>
    </div>
</div>

<!-- Digital x-ray  -->
<div class="container-fluid bg1 py-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold service display-1 pt-5">Digital X-ray At Home</h1>
        </div>
    </div>
</div>
<div class="back">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <br><br><br>
                <img src="./../../assets/images/electrocardiography1.jfif" alt="" class="fluid w-100 image">  
        </div>
        <div class="col-md-4 py-5">

            <button type="button" class="collapsible color-cls float-left service text-center">About Digital x-ray 
            </button>
            <div class="content">
                <p class="about-p l-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>            </div>
        </div>
        <div class="col-md-4 padding-cls">
            
<a href = "/ " class="collapsible color-cls float-left service text-center">Appoinment Digital
</a>


        </div>
    </div>
    </div>
</div>

<!-- Doppler  -->


<div class="container-fluid bg1 py-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold service display-1 pt-5">Doppler At Home</h1>
        </div>
    </div>
</div>
<div class="back">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <br><br><br>
                <img src="./../../assets/images/electrocardiography1.jfif" alt="" class="fluid w-100 image">  
        </div>
        <div class="col-md-4 py-5">

            <button type="button" class="collapsible color-cls float-left service text-center">About Doppler 
            </button>
            <div class="content">
                <p class="about-p l-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>            </div>
        </div>
        <div class="col-md-4 padding-cls">
            
<a href = "/ " class="collapsible color-cls float-left service text-center">Appoinment Doppler 
</a>


        </div>
    </div>
    </div>
</div>

<!-- Ultrasound  -->
<div class="container-fluid bg1 py-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold service display-1 pt-5">Ultrasound At Home</h1>
        </div>
    </div>
</div>
<div class="back">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <br><br><br>
                <img src="./../../assets/images/electrocardiography1.jfif" alt="" class="fluid w-100 image">  
        </div>
        <div class="col-md-4 py-5">

            <button type="button" class="collapsible color-cls float-left service text-center">About Ultrasound 
            </button>
            <div class="content">
              <p class="about-p l-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="col-md-4 padding-cls">
            
<a href = "/ " class="collapsible color-cls float-left service text-center">Appoinment Ultrasound 
</a>


        </div>
    </div>
    </div>
</div>

<!-- EEG -->
<div class="container-fluid bg1 py-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold service display-1 pt-5">EEG At Home</h1>
        </div>
    </div>
</div>
<div class="back">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <br><br><br>
                <img src="./../../assets/images/electrocardiography1.jfif" alt="" class="fluid w-100 image">  
        </div>
        <div class="col-md-4 py-5">

            <button type="button" class="collapsible color-cls float-left service text-center">About EEG 
            </button>
            <div class="content">
                <p class="about-p l-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>            </div>
        </div>
        <div class="col-md-4 padding-cls">
            
<a href = "/ " class="collapsible color-cls float-left service text-center">Appoinment EEG 
</a>


        </div>
    </div>
    </div>
</div>


<!-- Medical Service  -->

<div class="container-fluid bg1 py-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold service display-1 pt-5">Medical Service At Home</h1>
        </div>
    </div>
</div>
<div class="back">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <br><br><br>
                <img src="./../../assets/images/electrocardiography1.jfif" alt="" class="fluid w-100 image">  
        </div>
        <div class="col-md-4 py-5">

            <button type="button" class="collapsible color-cls float-left service text-center">About Home Medical Service 
            </button>
            <div class="content">
                <p class="about-p l-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                   </div>
        </div>
        <div class="col-md-4 padding-cls">
            
<a href = "/ " class="collapsible color-cls float-left service text-center">Appoinment Home Medical Service 
</a>


        </div>
    </div>
    </div>
</div>