



<div class="container cc">
    
    <div class="card ">
        <div class="cord-body">
            <form [formGroup]="form" (ngSubmit)="forgotPass()">
                <div class="form-group">
                  <input 
                      formControlName="email"
                      id="email1" 
                      type="text" 
                      class="form-control field-input"
                      placeholder="Email">
                  <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                      <div *ngIf="f.email.errors.required">Email is required.</div>
                  </div>
              </div>
                <!-- <div class="form-group">
                    <input 
                        formControlName="password"
                        id="password1" 
                        type="password" 
                        class="form-control field-input"
                        placeholder="password">
                    <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                        <div *ngIf="f.password.errors.required">Password is required.</div>
                    </div>
                </div> -->
            
                <button class="btn btn-primary" class="update text-white" type="submit" >send to mail</button>
            </form>
        </div>
    </div>
</div>