
<div class="banner" id="myProfile">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        
        </div>
        <div class="col-md-8">
            
        </div>
      </div>
    </div>
</div>



<div class="container my-3">
  
  <h1 class="text-center font-weight-bold service display-1 pt-5">Service</h1><br><br>
  <div class="row">
    <div class="col-sm-6 col-md-4 mb-3 gallary1">
      <a routerLink="/electrocardiography"><img src="./../../assets/images/electrocardiography1.jfif" alt="" class="fluid w-100 image"> </a>  
      <div class="middle">
        <div class="text">Echo & Electrocardiography</div>
      </div>   
    </div>
    <div class="col-sm-6 col-md-4 mb-3 gallary2">
      <a routerLink="/electrocardiography"><img src="./../../assets/images/electrocardiography1.jfif" alt="" class="fluid w-100 image"> </a>  
      <div class="middle">
        <div class="text">Digital x-ray</div>
      </div>     
    </div>
    <div class="col-sm-6 col-md-4 mb-3 gallary3">
      <a routerLink="/electrocardiography"><img src="./../../assets/images/electrocardiography1.jfif" alt="" class="fluid w-100 image"> </a>  
      <div class="middle">
        <div class="text">Doppler</div>
      </div>        
    </div>
     <div class="col-sm-6 col-md-4 mb-3 gallary4">
      <a routerLink="/electrocardiography"><img src="./../../assets/images/electrocardiography1.jfif" alt="" class="fluid w-100 image"> </a>  
      <div class="middle">
        <div class="text">Ultrasound(sonar)</div>
      </div>      
    </div>
    <div class="col-sm-6 col-md-4 mb-3 gallary5">
      <a routerLink="/electrocardiography"><img src="./../../assets/images/electrocardiography1.jfif" alt="" class="fluid w-100 image"> </a>  
      <div class="middle">
        <div class="text">EEG</div>
      </div>       
    </div>
    <div class="col-sm-6 col-md-4 mb-3 gallary6">
      <a routerLink="/electrocardiography"><img src="./../../assets/images/electrocardiography1.jfif" alt="" class="fluid w-100 image"> </a>  
      <div class="middle">
        <div class="text">Home Medical Service</div>
      </div>        
    </div>
     
  </div>
</div>

<footer >
  <div class="bg-footer">
  <div class="container-fluid ">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center text-light">
        <p class="text-white text-center">All rights reserved</p>
      </div>
    </div>
    
  </div>
  <!-- <div class="bg-footer " id="Appoinment">
        <div class="container">
          <div class="row">
            
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h1 class="text-center font-weight-bold service"> Appoinment Form </h1>
                  <form class="form-horizontal">
                    <h3 class="form-check-label py-2"> &nbsp;Booking Appointment For</h3>
                    <div class="form-check ">
                      <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Self
                      </label>
                    </div>
                    <div class="form-check ">
                      <label class="form-check-label" for="radio2">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Other
                      </label>
                    </div> <br>
                    <div class="form-group  has-feedback">
                      <div class="col-sm-12">
                        <input type="text" class="form-control" id="focusedInput" placeholder="Name">
                        <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                      </div>
                    </div>
                   
                    <div class="form-group  has-feedback">
                      <div class="col-sm-12">
                        <input type="text" class="form-control" id="focusedInput" placeholder="Phone No">
                        <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                      </div>
                    </div>
                    <div class="form-group  has-feedback">
                      <div class="col-sm-12">
                        <input type="text" class="form-control" id="focusedInput" placeholder="Whatsapp Number">
                        <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                      </div>
                    </div>
                    <div class="form-group  has-feedback">
                      <div class="col-sm-12">
                        <input type="text" class="form-control" id="focusedInput" placeholder="Address">
                        <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                      </div>
                    </div>
               
                    <div class="form-group">
                      <div class="col-sm-12">
                      <select class="form-control" id="sel1" id="focusedInput" name="sellist1">
                        <option>Required Service</option>
                        <option>Digital x-ray</option>
                        <option>Echo at home</option>
                        <option>ultrasound at home</option>
                        <option>Doppler at home</option>
                        <option>ECG at home</option>
                        <option>EEG at home</option>
                        <option>Home medical service</option>
                        <option>Corporate medical service</option>
                      </select>
                    </div>
                  </div>
                    <div class="form-group  has-feedback ">
                      <div class="col-sm-12">
                        <input type="submit" class="form-control update text-white" id="" value="Click for Appoinment">
                      </div>
                    </div>
                  </form>
                  
                </div>
           </div><br>
           <ul class="ul-footer">
            <li><a href="#myProfile"><i class="fa fa-user fa-1x"></i> Profile</a></li>
            <li><a href="#"><i class="fa fa-phone fa-1x"></i> Call Us</a></li>
          </ul>
            </div>
            <div class="col-md-2">
             
            </div>
            <div class="col-md-6">
              
                  

                  
            </div>
          </div>
        </div>
  </div> -->
</div>
</footer>

